/**
*   Highlight
*
*   @class     .highlight
*/
& .highlight {

  /**
  *   Font weight
  *
  *   @var    $font-weight  Highlight font weight.
  */
  $font-weight = _weight-bold;

  /**
  *   Padding
  *
  *   @var    $padding  Highlight padding.
  */
  $padding = .25rem 0 .25rem 2rem;

  /**
  *   .highlight
  *
  *   Main style.
  */
  & {
    padding $padding
    font-weight $font-weight
  }

}