/**
*   Info
*
*   @class     &.is-info
*/
&.is-info {

  /**
  *   &.is-info
  *
  *   Main style.
  */
  & {
    background-color _blue
  }

  /**
  *   .is-info:hover
  *
  *   Hovered style
  */
  &:hover {
    box-shadow 0 0 10px _blue
  }

  /**
  *   Children
  */
  @import "isInfo-children/iconWrapper.styl";

}