/**
*   Warning
*
*   @class     &.is-warning
*/
&.is-warning {

  /**
  *   &.is-warning
  *
  *   Main style.
  */
  & {
    background-color _yellow
  }

  /**
  *   .is-warning:hover
  *
  *   Hovered style
  */
  &:hover {
    box-shadow 0 0 10px _yellow
  }

  /**
  *   Children
  */
  @import "isWarning-children/iconWrapper.styl";

}